<div class="block_content">
    <h2>Expire or permanently delete?</h2>
    <p>Would you like to expire your advert<strong><i>want room</i></strong> ? </p>
    <?php $table1 = ucfirst($table)."Ad";?>
    <ul class="bulletlist">
        <li><a href="<?php echo $this->webroot . $table;?>_ads/delete/<?php echo $ad[$table1]['id']?>" class="lbAction" rel="insertGet">Permanently remove the advert</a><br>
            To completely remove the ad from your account</li>
    </ul>



    <p><a href="/users/my_ads" class="lbAction" rel="insertGet">Return to My Adverts page without deleting this ad</a></p>
</div>