<ul class="account-manu" style="    padding: 10px;margin: 13px;">
   
    <li><a class="saved" title="My saved ads" href="<?php echo $this->webroot;?>users/saved_ads">Saved adds (<?php echo $saved_ads;?>)</a></li>
    <li><a class="savedSearches" title="My saved Searches" href="<?php echo $this->webroot;?>users/saved_searches">Saved searches (<?php echo $saved_searches;?>)</a></li>
    <li><a class="subNav-myListings" title="My placed Ads" href="<?php echo $this->webroot;?>users/my_ads">My adds (<?php echo $offered_ads+$wanted_ads?>)</a></li>
    <li><a class="messages" title="My messages page" href="<?php echo $this->webroot;?>users/my_messages">Messages (<?php echo $messages;?>)</a></li>
    <li><a class="upgrade" title="Renew Now and Save!" href="<?php echo $this->webroot;?>users/upgrade">Upgrade</a></li>
    <li><a class="upgrade" title="Renew Now and Save!" href="<?php echo $this->webroot;?>users/logout">Logout</a></li>
</ul>