@media only screen and (min-width : 320px) and (max-width : 667px) { 
	.top{
		min-height: 50%;
		background-size: auto 100%
	}
	.logo a img{
		width: 40%;
		padding-top: 1em
	}
	.green-yo, .blue-yo{
		height: 300px;
	}
	.round-btn{
		position: relative;
		margin:auto;
		top: auto;
		right: auto;
		display: table;
	}
	.reg-right{
		padding-bottom: 1em;
	}
	.mobile{
		position: relative;
	}
	.mobile-img{
		background: url(../img/phone.png) no-repeat center center;
		background-size: 100% auto;
		height: 367px;
		width: 180px;
		position: relative;
		left: 50%;
		margin-left: -90px;
		top: auto;
		margin-top: auto;
		margin-bottom: 20px;

	}
	.mobile-img img{
		margin-top: 0px;
		padding-top: 43px;
		margin-left: 10.5px;
		width: 88%;

	}
	h2{
		font-size: 100%;
		font-weight: 600;
		padding: 0 1%;
	}
	.d-l{
		width: 90%;	
	}
	.blue-img{
		width: auto;
	}
	.wanttoreg img{
		width: 90%
	}
	.fit-logo{
		position: relative; 
		text-align: center;
		left: 0
	}
	.week-name span{
		margin: 1% 1.5%;
	}
	.section-reg-clas{
	width: 100%;
	margin: auto;
}
.form-horizontal{
	padding: 0 2%
}
.btn-conti{
	margin: 8px auto;
}
.active-reg.all-reg{
	height: 205px;
}
.all-reg{
	margin: 5% 1%;
}
}
@media only screen and (min-width : 320px) and (max-width : 667px) and (orientation : portrait) { 
	.section-reg-clas{
		width: 50%;
		margin: auto;
	}
}
@media only screen and (min-width : 768px) and (max-width : 1024px)  { 
	.top{
		min-height: auto
	}
	.logo a img{
		width: 35%
	}
	.green-yo, .blue-yo {
		padding: 6% 0;
	}
}