@media (max-width: 1120px) {
	.banner-section {
		height: 436px;
		padding-top: 25px;
	}
	.favourite-add h3 {
		margin-bottom: 14px;
	}
	.favourite-box {
		margin-bottom: 15px;
	}
	.pg-header {
		background-size: auto;
	}
	.dream-banner h1 {
		font-size: 39px;
		margin: 0 0 17px;
	}
	.favourite-box p {
		font-size: 15px;
	}
}

@media (max-width: 1023px) {
	.socila-part a {
		margin: 0 1px;
	}
	.banner-section {
		height: 429px;
		padding-top: 13px;
	}
	.navbar-nav > li > a {
		font-size: 12px;
	}
	.banner-section {
		height: 387px;
	}
	.favourite-add h3 {
		font-size: 27px;
		margin-bottom: 11px;
	}
	.search-part input[type="search"] {
		width: 300px;
	}
	.dream-banner h1 {
		text-shadow: 2px 1px 0 #5e5c5b;
		font-size: 29px;
	}
	.favourite-box a {
		padding: 5px 10px;
	}
	.find-room-section h3 {
		font-size: 25px;
	}
	.dream-banner {
		padding-top: 111px;
	}
	.favourite-box {
		margin-bottom: 10px;
		padding: 7px 20px 8px 7px;
	}
	.favourite-box h4 {
		font-size: 15px;
		margin: 0 0 3px;
	}
	.favourite-box p {
		font-size: 14px;
	}
	.popular-destination .col-sm-4 {
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) {
	.dream-banner {
		padding-top: 13px;
		margin: 0 0 10px;
	}
	.favourite-add {
		text-align: center;
	}
	.favourite-box {
		vertical-align: top;
		width: 260px;
		display: inline-block;
		margin: 0 5px;
	}
	.sign-up-part {
		text-align: right;
	}
	.navbar-toggle {
		padding: 7px 10px;
		margin: 0 0 2px;
	}
	.signup-part {
		margin-bottom: 4px;
	}
	.upper_header {
		padding-bottom: 0;
	}
	.navbar-toggle .icon-bar {
		background: #fff;
	}
	.navbar-toggle {
		background: #000;
	}
	.navbar-collapse {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 11;
		padding: 0;
	}
	.navbar-nav {
		display: block;
		background: rgba(255,255,255,0.95);
		margin: 0;
	}
	.navbar-nav li {
		display: block;
	}
	.navigation-part .col-xs-12, .upper_header .col-xs-8 {
		position: static;
	}
	.navbar-nav > li > a {
		font-size: 14px;
		padding: 5px;
	}
	.banner-section {
		background-size: 100% 100%;
		height: 360px;
	}
	.favourite-box a {
		font-size: 12px;
	}
	.favourite-add h3 {
		text-shadow: none;
	}
	.find-room-section {
		padding-top: 25px;
	}
	.upper_header {
		background: rgba(255,255,255,0.95);
	}
}

@media (max-width: 639px) {
	.popular-destination h3 {
		font-size: 24px;
		margin: 0 0 15px;
	}
	.favourite-box {
		margin: 5px;
	}

}
@media (max-width: 572px) {
	.signup-part .col-xs-4, .signup-part .col-xs-8 {
		width: 100%;
		margin-bottom: 5px;
		text-align: right;
	}
	.signup-part .col-xs-4 {
		display: none;
	}
	.banner-section {
		background-size: 100% 100%;
		height: 472px;
	}
	.footer-top h4 {
		font-size: 19px;
	}
	.favourite-add h3 {
		font-size: 22px;
		margin-bottom: 4px;
	}
	.popular-destination ul li {
		margin-bottom: 2px;
	}
	.popular-destination ul li a {
		font-size: 13px;
	}
	ul.footer-link li {
		margin-bottom: 2px;
	}
	ul.footer-link li a {
		font-size: 13px;
	}
	.help-para {
		font-size: 14px;
	}
	h2.sub-heding {
		font-size: 21px;
		margin: 0 0 13px;
	}
	.new-room-sec {
		padding-bottom: 20px;
		padding-top: 16px;
	}
	.favourite-box p {
		font-size: 12px;
	}
	.favourite-box h4 {
		font-size: 14px;
	}
	.room-let {
		width: 67px;
		height: 64px;
	}
	.room-let span {
		width: 45px;
		font-size: 12px;
		right: -5px;
		top: 5px;
	}
}
@media (max-width: 479px) {
	.logo-part {
		width: 100%;
		text-align: center;
	}
	.logo-part a {
		display: inline-block;
		margin-bottom: 13px;
		width: 143px;
	}
	.upper_header .col-xs-8 {
		width: 100%;
	}
	.navbar-toggle {
		bottom: 15px;
		left: 12px;
		margin: 0;
		padding: 7px 10px;
		position: absolute;
	}
	.search-part input[type="search"] {
		width: 186px;
	}
	.banner-section {
		background-size: 100% 100%;
		height:483px;
	}
	.send-app-link {
		width: 289px;
	}
	.applink-btn {
		font-size: 12px;
		padding: 7px 6px;
	}
	.app-serch-box {
		font-size: 15px;
		margin-right: 19px;
		padding: 0 12px 0 0;
	}
	.popular-destination h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.appstore-link a {
		display: inline-block;
		margin: 0 5px;
		width: 130px;
	}
	.find-room-section h3 {
		font-size: 18px;
	}
	.bx-wrapper .bx-prev {
		left: -15px;
	}
	.bx-wrapper .bx-next {
		right: -29px;
	}
	.search-part input[type="search"] {
		font-size: 11px;
		padding: 5px 11px;
		color: #000;
		letter-spacing: 0;
	}
	.radio-part-outer {
		padding-top: 3px;
	}
	.radio-part label {
		margin-bottom: 2px;
	}
	.favourite-add h3 {
		font-size: 19px;
		margin-bottom: 1px;
	}
	.dream-banner h1 {
		font-size: 21px;
		margin-bottom: 10px;
	}
	.search-part input[type="search"] {
		width: 180px;
	}

}