@charset "utf-8";
/* CSS Document */

html {

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

}

/*@font-face {
    font-family: myriadPro;
    src: url(../fonts/MYRIADPRO-REGULAR.eot); *//* IE9 Compat Modes *//*
    src: url(../fonts/MYRIADPRO-REGULAR.eot?#iefix) format('embedded-opentype'), *//* IE6-IE8 *//*
    url(../fonts/MYRIADPRO-REGULAR.ttf),
    url(../fonts/MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.eot); *//* IE9 Compat Modes *//*
    src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), *//* IE6-IE8 *//*
    url(../fonts/Lato-Regular.ttf),
    url(../fonts/Lato-Regular.woff);
}
@font-face {
    font-family: latoLight;
    src: url(../fonts/Lato-Light.eot); *//* IE9 Compat Modes *//*
    src: url(../fonts/Lato-Light.eot?#iefix) format('embedded-opentype'), *//* IE6-IE8 *//*
    url(../fonts/Lato-Light.ttf),
    url(../fonts/Lato-Light.woff);
}
@font-face
{
    font-family: OpenSans-Semibold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: local('☺'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');

}*/
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff'),
    url('../fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #FFF;
    font-family: 'lato', sans-serif;
    overflow-x:hidden;
    color: #707070;
    font-size: 14px;
}

body a{
    text-decoration: none;
}

body a:hover, body a:focus, *{
    outline: none;
    text-decoration: none;
}

body ul{
    padding-left: 0;
    list-style-type: none;
}
hr{
    border-width: 1px 0 0;
    border-color: #c6c6c6;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #222;
    color: white;
    text-shadow: none;
}

img{
    max-width: 100%;
}
/**********************/
.container{
    max-width: 1000px;
}
.pg-header{
    background: url(../images/hedr-bg.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size:100%;
}
.upper_header{
    padding-top:7px;
    background: rgba(255,255,255,0.8);
    padding-bottom: 19px;
    border-bottom: 2px solid #424242;
    position: relative;
}
.socila-part a{
    margin: 0 1px;
}
.navbar-nav > li > a{
    /*font-size: px;*/
    color: #4e4e4e;
    font-size:14px;
    text-transform: uppercase;
    padding: 0 0;
}
.navbar-nav > li > a:hover{
    color: #014eae;
    background: none;
}
.active_menu {
    color: #014eae !important;
    background: none;
    font-weight:bold;
}
.navbar-nav {
    display: table;
    width: 100%;
}
.navbar-nav > li {
    padding: 0  5px;
    display: table-cell;
    float: none;
    text-align: center;
}
.navbar-nav > li:first-child{
    padding-left: 0;
}
.sign_in ul li{
    display: inline-block;
}
.sign_in li:first-child a{
    padding-left:27px;
    background: url(../images/user-icon.png) no-repeat left center;
}
.signup-part{
    margin-bottom:15px;
}
.sign_in li a{
    text-transform: uppercase;
    color: #838383;
    font-size:11px;
    padding:4px 4px 4px 10px;
}
.sign_in li a:hover{
    color: #014eae;
}
.sign_in li:after{
    content: "/";
    margin: 0 0px 0 8px;
}
.sign_in li:last-child:after{
    content: none;
}
.banner-section{
    background-image: url(../images/banner-pic.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size:100%;
    height: 480px;
    padding-top: 42px;
}
.favourite-box{
    background: rgba(255,255,255,0.9);
    border: 1px solid #efefef;
    padding: 10px 15px 10px 10px;
    position: relative;
    margin-bottom: 15px;
}
.favourite-add h3{
    color: #408cfe;
    font-size: 36px;
    text-shadow: 0px 0px 2px #2a2a2a;
    margin: 0 0 22px 0;
}
.favourite-box h4{
    color: #018cc9;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.favourite-box a{
    background: #014eae;
    padding:14px;
    color:#fff;
    display: inline-block;text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -webkit-transition: 0.2s;
}
.favourite-box a:hover{
    background: #000;
}
.room-let{
    position: absolute;
    right: -1px;
    top: -1px;
    width:77px;
    height:75px;
    background-image: url(../images/sold-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.room-let span {
    color: #fff;
    line-height: 1.2;
    position: absolute;
    right: -4px;
    text-align: center;
    top: 7px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 51px;
}
.paleceadd{
    text-align: center;
    display: block;
}
.favourite-box p{
    color: #3a3939;
    font-size: 15px;
}
.navigation-part .navbar-collapse.collapse {
    padding: 0;
}
.dream-banner{
    padding-top:152px;
    text-align: center;
}
.search-part{
    position: relative;
    display: inline-block;
}
.search-part input[type="search"]{
    float: left;
    height: 41px;
    border: 1px solid #2565b5;
    border-right:0;
    padding: 5px 15px;
    width: 414px;
    color: #444;
    background: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.search-part input[type="button"], .search-part input[type="submit"]{
    float: left;
    background: url(../images/search-now-bg.png) repeat-x;
    height:42px;
    color: #fff;
    border-radius: 0 9px 9px 0;
    width: 104px;
    border: none;
    font-size: 16px;
}
.dream-banner h1{
    font-size:39px;
    color: #02b0fb;
    text-transform: uppercase;
    font-family: 'ralewaylight';
    text-shadow: 3px 2px 0 #5e5c5b;
    display: block;
    margin:0 0 20px;
}
.slider-box{
    margin:10px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
    padding:0;
}
.slider-pic{
    position: relative;
    margin-bottom: 18px;
}
.slider-pic img{
    max-width: 100%;
}
.tag{
    position: absolute;
    top:9px;
    left: 0;
    background:rgba(0,0,0,0.8);
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
    color: #fff;
}
.product-details{
    padding:0px 17px 15px;
}
.product-details h4{
    font-size: 14px;
    color: #2574a9;
    background: url(../images/hadinng-icon.png) left 3px no-repeat;
    padding-left: 12px;
    margin: 0 0 12px;
}
.product-details p{
    font-size: 12px;
}
.new-room-sec{
    padding-top: 25px;
    padding-bottom: 35px;
}
h2.sub-heding{
    font-size:30px;
    color: #3784b9;
    text-align: center;
    margin: 0 0 25px;
    font-family: myriadPro;
}
.slider-carousel{
    margin-bottom: 25px;
}
.slider-carousel .bx-default-pager{
    display: none;
}
.find-room-section{
    padding-top: 60px;
}
.find-room-section h3{
    /*font-family: myriadPro;*/
    font-size:30px;
    color: #014eae;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 0 10px;
}
.find-room-section p{
    line-height: 22px;
    font-size: 16px;
    color: #757575;
    margin-bottom: 22px;
}
.appstore-link a{
    margin: 0 5px;
}
.send-app-link{
    padding: 0 0 13px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 380px;
}
.app-serch-box,.applink-btn{
    border:0;
    outline: none;
}
.app-serch-box{
    font-size:16px;
    color: #a49496;
    font-weight: bold;
    padding: 0 20px 0 0;
    margin-right: 30px;
}
.applink-btn{
    color: #fff;
    background: #1fc055;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -webkit-transition: 0.2s;
}
.applink-btn:hover{
    background: #000;
}
.popular-destination{
    background-image: url(../images/populer-section-bg.png);
    background-position:right bottom;
    background-repeat:no-repeat;
    background-color:#9c9c9c;
    padding: 20px 0 30px;
}
.popular-destination h3{
    font-size:30px;
    text-transform: uppercase;
    color: #53cbfd;
    margin: 0 0 20px;
}
.popular-destination ul li a{
    color: #fff;
    font-size:15px;
    text-transform: uppercase;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -webkit-transition: 0.2s;
}
.popular-destination ul li a:hover{
    text-shadow: 0px 0px 3px #fff;
}
.foooter-part{
    background: #01234d;
}
.footer-top{
    padding: 27px 10px 15px;
}
.footer-top h4{
    color: #53cbfd;
    font-size:24px;
    margin: 0 0 12px 0;
}
.address-text{
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
}
.contact-details{
    font-size: 15px;
    color: #fff;
    margin-bottom: 12px;
}
ul.footer-link li a{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -webkit-transition: 0.2s;
}
ul.footer-link li a:hover{
    color: #0a8ad3;
}
.help-para{
    font-size: 15px;
    color: #fff;
}
.client-view{
    background-image: url(../images/client-view-bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    width: 223px;
    padding: 5px 10px 35px;
    height: 112px;
    margin-bottom: 17px;
}
.client-view p{
    font-size:14px;
    color: #fff;
    line-height: 16px;
    text-align: center;
}
.client-view p sup,.client-view p sub{
    font-family: Arial;
    font-size: 20px;
    top: 3px;
}
.client-view.view-2 {
    background-image: url(../images/client-view-bg2.png);
}
.footer-bottom{
    padding: 15px 0;
    border-top:1px solid #000;
}
.copy-text{
    color: #a0a2a3;
    font-size:14px;
    text-align: center;
}


/*for radio button*/
.radio-part label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 15px;
    font-size: 16px;
    color: #02b0fb;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.radio-part input[type=radio] {
    display: none;
}
.radio-part label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #000000;

}
.radio-part label:before {
    border-radius: 8px;
}
.radio-part input[type=radio]:checked + label:before {
    /*content: "\2022";
    color: #009f31;
    font-size: 15px;
    text-align: center;*/
    line-height: 15px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 0;
    background:url(../images/radio-pic.png) no-repeat center center;
}
.radio-part{
    display: inline-block;
    margin-right: 10px;
}
.radio-part-outer{
    padding-top: 10px;
}

.blue{
    color:#53cbfd !important}

.help-para{
    margin-left: 10%;
    width: 86%;
}

h4.mar-left{margin-left: 10%;}

.listing-results {
    list-style: outside none none;
}

.listing-results li {
    position: relative;
}

.listing-results article, .listing_sfm {
    padding: 8px 16px;
    margin-bottom: 24px;
    border-radius: 6px;
    position: relative;
    display: block;
}
.listing-bold {
    background-color: #EBFAFD;
    border: 1px solid #9CEBFC;
}
.listing-free {
    background-color: #F5F5F5;
    border: 1px solid #D5D5D5;
}

.listing-results header::before, .listing-results header::after, .listing-results article::before, .listing-results article::after {
    content: " ";
    display: table;
}

.listing-bold header, .listing-bold .extra-info {
    border-bottom: 1px solid #9CEBFC;
}
.listing-results header {
    padding-bottom: 12px;
}
.listing-free header, .listing-free .extra-info {
    border-bottom: 1px solid #D5D5D5;
}
.listing-results header {
    padding-bottom: 12px;
}
.listing-results figure a, .listing-results header a {
    text-decoration: none;
}
.listing-results header .details {
    width: 100%;
    padding: 0px;
    line-height: 1.692;
    font-size: 0.8667em;
    clear: both;
    color: #5E5E5E;
}
.listing-results header .details .listing-price {
    display: inline-block;
    float: right;
    padding-right: 0;
}
.listing-results header::after, .listing-results article::after {
    clear: both;
}
.listing-results figure {
    margin: 16px 16px 0px 0px;
    vertical-align: top;
    position: relative;
    float: left;
    font-size: 0.8em;
    line-height: 1.1667;
}
.listing-results img {
    max-width: 100px;
    max-height: 100px;
}
.listing-results img {
    max-width: 100px;
    max-height: 100px;
}
.listing-results figure, .listing-results .listing-results-content {
    display: inline-block;
}
.listing-results figure, .listing-results .no-photo {
    width: 100px;
    height: 100px;
}
.listing-results figure .media-details {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.listing-results .media-details span {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px;
    display: inline-block;
    color: #FFF;
}
.listing-results .media-details span.no-video {
    color: #999;
}
.listing-results .listing-results-content {
    width: calc(100% - 116px);
    margin-top: 16px;
    font-size: 0.866em;
    line-height: 1.54;
}
.listing-results figure, .listing-results .listing-results-content {
    display: inline-block;
}
.listing-results .listing-results-content h2 {
    color: inherit;
    margin: 0px;
    font-size: 700;
    line-height: inherit;
    font-family: Arial,Helvetica,sans-serif;
}
.listing-results .listing-results-content h2 + p {
    min-height: 3.0769em;
}
.listing-results .description {
    position: relative;
}
.listing-results p {
    margin-bottom: 0px;
}
p, ul {
    margin: 0px 0px 16px;
}
.listing-results .description a {
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.listing-results footer .status {
    width: 120px;
    display: inline-block;
}
.listing-results footer > * {
    padding-top: 8px;
}
.tooltip {
    position: relative;
}
.tooltip_item {
    cursor: help;
    font-weight: normal;
}
.tooltip_box {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 13px;
    left: -20px;
    width: 310px;
}
.tooltip_text, .tooltip_arrow {
    opacity: 0;
    transition: opacity 0.3s ease-in 0s;
}
.tooltip_text {
    color: #5E5E5E;
    line-height: 1.5;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    white-space: normal;
    display: block;
    margin: 0px 0px 13px;
    padding: 10px 10px 10px 34px;
    background: #FFF9CF url("/img/spareroom/v4/icons/msg_notice.png") no-repeat scroll 10px 10px;
    border: 1px solid #B1B1B1;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.tooltip_arrow {
    background: transparent url("/img/spareroom/v4/other_items/tooltip_arrow.png") no-repeat scroll 0px 0px;
    display: block;
    width: 14px;
    height: 7px;
    position: absolute;
    bottom: 7px;
    left: 20px;
}
.listing-results footer > .more {
    float: right;
    padding-left: 8px;
}
.listing-results .new-today, .listing-results .new {
    max-width: 3.333em;
    z-index: 1;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
    position: absolute;
    font-size: 0.8em;
    color: #FFF;
    padding: 0px 0px 3px 5px;
    line-height: 1;
    font-weight: bold;
}
.listing-results .new-today::before {
    border-width: 5em 0px 0px 5em;
}
.listing-results .new-today::before, .listing-results .new::before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent #FF9500;
    display: block;
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: -1;
}


/*Bappy CSS*/
/*.listing-results header strong {
    white-space: nowrap;
    margin-left: 30px;
    float: right;
    text-align: right;
    line-height: 1.4667;
    font-family: 'Open Sans',Arial,sans-serif;
}
.listing-bold h1, .listing-bold header strong, .listing-featured h1, .listing-featured header strong {
    color: #003d5d;
}
abbr, acronym, .tooltip_help {
    border: 0;
    border-bottom: 1px dashed #BBB;
    text-decoration: none;
}
.listing-results .new-today, .listing-results .new {
    max-width: 3.333em;
    z-index: 1;
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    padding: 0 0 3px 5px;
    line-height: 1;
    font-weight: bold;
}
.listing-bold footer {
    border-top: 1px solid #9cebfc;
}
.listing-results footer {
    margin-top: 16px;
}
.listing-results footer .status {
    width: 120px;
    display: inline-block;
}
.listing-results footer>* {
    padding-top: 8px;
}*/
select, input, .anchorTag {
    font-size: .9166em !important;
}
.grid-4-12>:first-child, .grid-4-8-4>:first-child {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
[class*="grid-"]>:not(:last-child), [class*="grid-"].columns>:not(:last-child) {
    margin-right: 18px;
}
.block {
    display: block;
    margin-bottom: 24px;
}
div, dl, dt, dd, pre, form, fieldset, input, label, img, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.block_panel .block_header, .lodger_pack .block_header {
    color: #fff;
    background-color: #0db0e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0db0e6),to(#0db0e6));
    background-image: -webkit-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -moz-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -ms-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -o-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: linear-gradient(top,#0db0e6,#0db0e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#005480',EndColorStr='#003d5d');
}

.block_header h3 {
    margin: 0;
    color: #fff;
    line-height: inherit;
    font-size: inherit;
}
.block_panel .block_content {
    background-color: #ebfafd;
}
.block_content.block_areas {
    padding: 0;
}
select, input, .anchorTag {
    font-size: .9166em;
}

.block_panel .block_area_first {
    border-top: none;
}
.block_panel .block_area {
    border-bottom: 1px solid #c1e8f0;
    border-top: 1px solid #fff;
}
.block_area {
    padding: 16px;
}
.block.search_filter p, .block.search_filter ul, .block.search_filter dl {
    margin: 0;
}
ol, ul {
    list-style: none;
}
ul, ol {
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
label {
    cursor: default;
}
.block.search_filter .radiobuttons {
    height: auto;
}
.radiobuttons {
    font-size: 1em;
    line-height: 1.4545em;
    height: 1em;
}
.tooltip {
    position: relative;
}
.tooltip_box {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 13px;
    left: -20px;
    width: 310px;
}
.tooltip_item {
    cursor: help;
    font-weight: normal;
}
.help {
    letter-spacing: .15em;
}
.block_panel .block_area {
    border-bottom: 1px solid #c1e8f0;
    border-top: 1px solid #fff;
}
.block_area {
    padding: 16px;
}
.block.search_filter p, .block.search_filter ul, .block.search_filter dl {
    margin: 0;
}
.block_panel .block_area_label {
    color: #005480;
    font-weight: bold;
}
aside form p label {
    font-weight: bold;
}

textarea, input[type=text], input[type=password], input[type=email], input[type=number], input[type=search] {
    padding: 3px;
}
.block.search_filter p, .block.search_filter ul, .block.search_filter dl {
    margin: 0;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}
option {
    font-weight: normal;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.block_panel .block_area_last {
    border-bottom: none;
}
.block_panel .block_area {
    border-bottom: 1px solid #c1e8f0;
    border-top: 1px solid #fff;
}
.block.search_filter .search_edit_link, .block.search_filter .search_advanced_link {
    margin: 0;
    display: inline-block;
}
.block.search_filter p.buttons {
    text-align: center;
    margin: 6px;
}

.primary-standard, a.primary-standard, .secondary-standard, a.secondary-standard, a.button-facebook, .button-facebook {
    font-size: 13px;
    font-size: 0.8667rem;
    padding: 10px;
}

.block_header {
    padding: 8px 16px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    line-height: 1.467;
    font-size: 15px;
    font-size: 1rem;
    font-weight: bold;
}
.block_standard .block_header {
    background-color: #8e8e84;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c5c5c5),to(#8e8e84));
    background-image: -webkit-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -moz-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -ms-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -o-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: linear-gradient(top,#c5c5c5,#8e8e84);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5c5c5',EndColorStr='#8e8e84');
}
.block_standard .block_header + .block_content {
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
}

.block_standard .block_content {
    background-color: #f5f5f5;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
aside form p label {
    font-weight: bold;
}

/*row part close*/
.above_search_results {
      margin: 20px 0px 24px 0;
}
.searching_options, .searching_options_btn {
    padding: 10px 15px 0;
    white-space: nowrap;
    line-height: 1.538;
}
.searching_options, .searching_options_btn {
    background-color: #F5F5F5;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 0;
    font-size: 0.8em;
}
.sort_by label {
    font-weight: bold;
    padding-right: 5px;
}
select, input, .anchorTag {
    font-size: .9166em;
}
keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}
.searching_options, .searching_options_btn {
    padding: 10px 15px 0;
    white-space: nowrap;
    line-height: 1.538;
}
.searching_options_btn {
    border-top: medium none;    
    font-size: 0.8em;
}
.searching_options, .searching_options_btn {
    padding: 10px 15px 0;
    white-space: nowrap;
    line-height: 1.538;
}
.serching_opt .icon.map span {
    background: url("/img/spareroom/v4/icons/sprite_searching.jpg") no-repeat scroll 0 center transparent;
    margin-left: 0;
}
.serching_opt .icon.magnify span, .serching_opt .icon.map span {
    height: 25px;
    width: 20px;
}
.serching_opt a span {
    display: inline-block;
    margin: 0 2px -10px 8px;
}
.serching_opt .icon.email span {
    background: url("/img/spareroom/v4/icons/sprite_searching.jpg") no-repeat scroll -20px center transparent;
    height: 25px;
    width: 25px;
}
.serching_opt a span {
    display: inline-block;
    margin: 0 2px -10px 8px;
}
.serching_opt .icon.magnify span {
    background: url("/img/spareroom/v4/icons/sprite_searching.jpg") no-repeat scroll -45px center transparent;
}
.serching_opt .icon.magnify span, .serching_opt .icon.map span {
    height: 25px;
    width: 20px;
}

/*ul part*/
.listing-results li {
    position: relative;
    width: 100%;
}
.listing-results article, .listing_sfm {
    padding: 8px 16px;
    border-radius: 6px;
    margin-bottom: 24px;
    border-radius: 6px;
    position: relative;
    display: block;
}
.listing-bold {
    background-color: #ebfafd;
    border: 1px solid #9cebfc;
}
.listing-results header:before, .listing-results header:after, .listing-results article:before, .listing-results article:after {
    content: " ";
    display: table;
}

.listing-bold header, .listing-bold .extra-info {
    border-bottom: 1px solid #9cebfc;
}
.listing-results header {
    padding-bottom: 12px;
}
.listing-results figure a, .listing-results header a {
    text-decoration: none;
}
.listing-results header .details {
    width: 100%;
    padding: 0;
    line-height: 1.692;
    font-size: 0.8667em;
    clear: both;
    color: #5e5e5e;
}

.listing-results header .details em:first-child {
    padding-left: 0;
}
.listing-results header .details>em {
    font-style: normal;
    padding: 0 8px;
}
.listing-results header .details .listing-price {
    float: right;
    padding-right: 0;
    display: inline-block;
}
.listing-results header .details>em {
    font-style: normal;
    padding: 0 8px;
}
.listing-results figure {
    margin: 16px 16px 0 0;
    vertical-align: top;
    position: relative;
    float: left;
    font-size: 0.8em;
    line-height: 1.1667;
}
.listing-results header strong {
    white-space: nowrap;
    margin-left: 30px;
    float: right;
    text-align: right;
    line-height: 1.4667;
    font-family: 'Open Sans',Arial,sans-serif;
}
.listing-results header h1, .listing-results header strong {
    padding-bottom: 2px;
}
abbr, acronym, .tooltip_help {
    border: 0;
    border-bottom: 1px dashed #BBB;
    text-decoration: none;
}
.listing-results h1 {
    margin: 0 30px 0 0;
    font-size: inherit;
    line-height: 1.375;
}
.listing-bold h1, .listing-bold header strong, .listing-featured h1, .listing-featured header strong {
    color: #003d5d;
}
.listing-results header .details {
    width: 100%;
    padding: 0;
    line-height: 1.692;
    font-size: 0.8667em;
    clear: both;
    color: #5e5e5e;
}
.listing-results header .details em:first-child {
    padding-left: 0;
}
.listing-results header .details .listing-price {
    float: right;
    padding-right: 0;
    display: inline-block;
}

.listing-results figure, .listing-results .listing-results-content {
    display: inline-block;
}
.listing-results figure, .listing-results .no-photo {
    width: 100px;
    height: 100px;
}
a {
    color: #3480db;
    text-decoration: none;
    background-color: transparent;
}
.listing-results img {
    max-width: 100px;
    max-height: 100px;
}
.listing-results figure .media-details {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
.listing-results .media-details span {
    background-color: rgba(0,0,0,0.6);
    padding: 4px;
    display: inline-block;
    color: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-camera:before {
    content: "\f030";
}
.listing-results .media-details span.no-video {
    color: #999;
}
.listing-results .listing-results-content {
    width: calc(100% - 116px);
    margin-top: 16px;
    font-size: 0.866em;
    line-height: 1.54;
}
.listing-results figure, .listing-results .listing-results-content {
    display: inline-block;
}
.listing-results .listing-results-content h2 {
    color: inherit;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: Arial,Helvetica,sans-serif;
}
.listing-results .listing-results-content h2 a, .listing-results .listing-results-content p a {
    color: inherit;
    text-decoration: none;
}
.listing-results .listing-results-content h2 + p {
    min-height: 3.0769em;
}
.listing-bold footer {
    border-top: 1px solid #9cebfc;
}
.listing-results footer {
    margin-top: 16px;
}
.listing-results footer .status {
    width: 120px;
    display: inline-block;
}
.listing-results footer>* {
    padding-top: 8px;
}
.tooltip {
    position: relative;
}
.tooltip_item {
    cursor: help;
    font-weight: normal;
}
a:visited {
    color: #97198b;
}
a {
    color: #3480db;
    text-decoration: none;
    background-color: transparent;
}
.tooltip_box {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 13px;
    left: -20px;
    width: 310px;
}
.tooltip_text, .tooltip_arrow {
    opacity: 0;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
.tooltip_text {
    color: #5e5e5e;
    line-height: 1.5;
    text-align: left;
    line-height: 1,5;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-size: 0.8rem;
    white-space: normal;
    display: block;
    margin: 0 0 13px 0;
    padding: 10px 10px 10px 34px;
    background: #fff9cf url(/img/spareroom/v4/icons/msg_notice.png) no-repeat 10px 10px;
    border: 1px solid #b1b1b1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
}
.tooltip_arrow {
    background: url(/img/spareroom/v4/other_items/tooltip_arrow.png) no-repeat 0 0;
    display: block;
    width: 14px;
    height: 7px;
    position: absolute;
    bottom: 7px;
    left: 20px;
}
.tooltip_text, .tooltip_arrow {
    opacity: 0;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
.listing-results footer>.more {
    float: right;
    padding-left: 8px;
}
.listing-results .new-today, .listing-results .new {
    max-width: 3.333em;
    z-index: 1;
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    padding: 0 0 3px 5px;
    line-height: 1;
    font-weight: bold;
}
.listing-results .new::before {
    border-width: 4.5em 0 0 4.5em;
}
.listing-results .new-today:before, .listing-results .new:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #ff9500;
    display: block;
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: -1;
}
.listing-results header:after, .listing-results article:after {
    clear: both;
}
a:active, a:hover, a:focus {
    text-decoration: underline;
    outline: 0;
}

.block_header h3{
    font-size: 1.5em !important;
    text-align: center;
}

.map-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #666666;
    z-index: 100;
}
.map-close-btn h2 {
    color: darkred;
    cursor: pointer;
}
#map-canvas {
    height: 90%;
    width: 70%;
    margin: auto;
}
/*full at part*/
#spareroom.wrap {
    display: block;
    margin: 0 auto;
    /*padding: 0 36px 24px;*/
    background-color: #fff;
    position: relative;
    overflow: auto;
    border-radius: 0;
}
#spareroom.wrap, footer.wrap {
    width: 99%;
}
[class*='grid-'] {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
/*[class*='grid-'] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    word-wrap: break-word;
}
*/
#back_to_search_results {
    margin: 0 0 4px;
}
.back_link {
    background-image: url(/img/spareroom/v4/icons/back_link.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
    font-size: 13px;
}
.PAGElistings h1, .PAGEbrowse h1 {
    border: none;
}
p + h1, p + h2, p + h3, p + h4, p + h5 {
    padding-top: 8px;
}
h1 {
    font-size: 1.7333em;
    margin: 0 0 24px;
    line-height: 1.385;
}
.layoutrow {
    clear: left;
}
.fullwidth_pagetabs {
    border-top-left-radius: 8px;
}
.block_simple_tabbed .block_tabs {
    padding-left: 24px;
    position: relative;
    bottom: -1px;
}
.block_tabs {
    overflow: hidden;
    clear: both;
    zoom: 1;
}
.free_listing .detail_page_tabs .block_tab_active, .free_listing .detail_page_tab_content {
    background-color: #F5F5F5;
    border-color: #d5d5d5;
}
.bold_listing .detail_page_tabs .block_tab_active, .free_listing .detail_page_tabs .block_tab_active {
    border-bottom: none;
}
.block_simple_tabbed .block_tab:visited {
    color: #3480db;
}
.block_simple_tabbed .block_tab {
    font-weight: normal;
    text-decoration: none;
}
.block_simple_tabbed .block_tab {
    display: block;
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 8px 16px;
    margin-right: 8px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#social_buttons, #social_buttons_share {
    text-align: right;
    margin: 0;
}
#social_buttons_share a {
    color: #005480;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
#social_buttons_share a.facebookButtonShare:before {
    content: "\f09a";
    background: #3b5999;
    border: solid 1px #3b5999;
}
#social_buttons_share a:before {
    font: normal normal normal 1.4em/1 FontAwesome;
    height: 26px;
    width: 26px;
    padding: 0;
    margin-right: 5px;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border: solid 1px #005480;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.detail_page_tab_content_inner {
    margin: 0;
}
.free_listing #listing_header {
    border-bottom: 1px solid #cccccc;
}
.bold_listing #listing_header, .free_listing #listing_header {
    padding: 16px 16px;
}
#listing_header #listing_tools {
    float: right;
}
ol, ul {
    list-style: none;
}
#listing_tools li {
    display: inline;
    margin-left: 18px;
}
#listing_tools li a {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 10px 4px 0;
}
#listing_ref {
    margin-bottom: 0;
}
.new_listing {
    margin-left: 38px;
}
#listing_header, .ad_details {
    font-size: 0.867em;
    line-height: 1.538;
}
.new_listing:before {
    content: url(/img/spareroom/v4/other_items/new.png);
    position: absolute;
    top: 16px;
    left: -4px;
}
.listing_extra_info {
    background: #5e5e5e;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    padding: 1px 3px 1px 3px;
    margin-left: 5px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.detail_page_tab_content_inner .advert-intro, .detail_page_tab_content_inner .contact-form, .detail_page_tab_content_inner .error-msg, #full_profile>div>:first-child {
    padding: 0 0 16px 16px;
    border-top-left-radius: 8px;
}
.grid-8>*, .grid-4-8-4>:nth-child(2), .grid-8-4-4>:first-child {
    -ms-flex: 8 48.99%;
    -webkit-flex: 8 48.99%;
    flex: 8 48.99%;
    max-width: 48.99%;
}
[class*="grid-"]>:not(:last-child), [class*="grid-"].columns>:not(:last-child) {
                    margin-right: 18px;
                }
div.photos {
    margin-bottom: 2em;
    overflow: hidden;
    margin-bottom: 1em;
    float: left;
    width: 100%;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.mainImage {
    display: block;
    text-align: center;
}
dt {
    font-weight: bold;
}
div.photos a.img.main {
    border-width: 5px;
    position: relative;
    text-decoration: none;
    margin: 0;
    background: url(/img/spareroom/v3/other_items/blue_loader.gif) no-repeat center center;
    display: inline-block;
    float: none;
}
div.photos.landscape a.img img {
    float: left;
}
div.photos a.img .zoom {
    display: none;
}
.hidden, .hide {
    display: none;
}
div.photos .caption {
    padding: 3px 3px 0 3px;
}
div.photos .caption {
    display: block;
    clear: both;
    font-size: 0.8em;
}
div.photos.landscape ul {
    margin: 0;
    float: left;
}
.detail_page_tab_content_inner .ad_details {
    padding-bottom: 16px;
}
.key_features {
    margin-bottom: 0;
}
.key_features {
    font-size: 14px;
    line-height: 20px;
    color: #00537F;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.key_features small, dl.tabular_header dt small {
    font-size: 11px;
    font-weight: normal;
}
.free_listing .hrz_featurelist {
    border-top: 1px solid #cccccc;
    border-bottom: none;
}
hr {
    margin: 10px 0 10px 0;
    height: 1px;
    border: none;
}
abbr, acronym, .tooltip_help {
    border: 0;
    border-bottom: 1px dashed #BBB;
    text-decoration: none;
}
.ir.view_on_map_v4 {
    background-image: url(/img/spareroom/v4/other_items/view_on_map.png);
    margin: 11px 0;
}
.ir.view_on_map, .ir.view_on_map_v4 {
    background-image: url(/img/spareroom/v3/other_items/view_on_map.png);
    width: 160px;
    height: 68px;
    cursor: pointer;
}
.featurestable {
    margin: 0;
    padding: 0;
}
.featurestable caption {
    background: transparent;
    margin: 0;
    padding: 0;
    width: auto;
    color: #005480;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial,Helvetica;
    margin-bottom: 4px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.featurestable th {
    vertical-align: top;
    font-weight: normal;
    width: 105px;
    margin: 0;
    padding: 0 18px 0 0;
}
.featurestable td {
    vertical-align: top;
    font-weight: normal;
    width: 76px;
    margin: 0;
    padding: 0;
}
.featurestable .colspan2 {
    width: 160px;
}
.featurestable td .bulletlist {
    margin-bottom: 0;
}
.ppcl_info li, .bulletlist li, .bulletlist dd, #full_profile li, #full_profile dd {
    display: list-item;
    list-style: disc outside;
    margin-left: 1.2em;
}
.free_listing .hrz_featurelist {
    border-top: 1px solid #cccccc;
    border-bottom: none;
}
.featurestable {
    margin: 0;
    padding: 0;
}
.free_listing .hrz_featurelist {
    border-top: 1px solid #cccccc;
    border-bottom: none;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.detail_page_tab_content_inner aside, .detail_page_tab_content_inner .asidecontent {
    padding: 0 16px 16px 0;
}

.block_bubble .block_header {
    color: #d5e0ea;
    background-color: #0db0e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0db0e6),to(#0db0e6));
    background-image: -webkit-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -moz-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -ms-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: -o-linear-gradient(top,#0db0e6,#0db0e6);
    background-image: linear-gradient(top,#0db0e6,#0db0e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#005480',EndColorStr='#003d5d');
   /* -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
    /*margin-bottom: 2px;*/
    padding: 6px 10px 6px 10px;
    border: none;
}

.block_bubble h3 {
    color: #FFFFFF !important;
}

.free_listing .block_bubble .block_content {
    border-color: #cccccc;
}

.block_bubble .block_content {
    border: 1px solid #80B9D4;
    background-color: #ffffff;
}
.block_bubble .block_content::before {
    content: url(/img/spareroom/v4/quotes/block_bubble.gif);
    position: absolute;
    top: -8px;
    left: 60%;
}
.free_listing .block_bubble .block_area {
    border-bottom: 1px dotted #e1e1e1;
}
.block_bubble .block_area_first {
    border-top: none;
}
.block_contact dl {
    margin-bottom: 8px;
}
.block_contact dl dt {
    font-size: 14px;
    color: #00537F;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.tooltip {
    position: relative;
}
.tooltip_item {
    cursor: help;
    font-weight: normal;
}
.help {
    letter-spacing: .15em;
}
.tooltip_box.right {
    left: -280px;
}
.tooltip_box {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    bottom: 13px;
    left: -20px;
    width: 310px;
}
.tooltip_text, .tooltip_arrow {
    opacity: 0;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
.tooltip_text {
    color: #5e5e5e;
    line-height: 1.5;
    text-align: left;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-size: 0.8rem;
    white-space: normal;
    display: block;
    margin: 0 0 13px 0;
    padding: 10px 10px 10px 34px;
    background: #fff9cf url(/img/spareroom/v4/icons/msg_notice.png) no-repeat 10px 10px;
    border: 1px solid #b1b1b1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
}
.tooltip_box.right .tooltip_arrow {
    left: 280px;
}
.tooltip_text, .tooltip_arrow {
    opacity: 0;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
.tooltip_arrow {
    background: url(/img/spareroom/v4/other_items/tooltip_arrow.png) no-repeat 0 0;
    display: block;
    width: 14px;
    height: 7px;
    position: absolute;
    bottom: 7px;
    left: 20px;
}
.block_contact .contact_methods li {
    text-align: center;
    margin-bottom: 8px;
}
.primary-standard, a.primary-standard, .secondary-standard, a.secondary-standard, a.button-facebook, .button-facebook {
    font-size: 13px;
    font-size: 0.8667rem;
    padding: 10px;
}

.block_contact .contact_methods li {
    text-align: center;
    margin-bottom: 8px;
}
.free_listing .block_bubble .block_area {
    border-bottom: 1px dotted #e1e1e1;
}
.block_bubble .block_area {
    padding: 10px;
    border-bottom: 1px solid #80B9D4;
    border-top: 1px solid #fff;
}
.block_simple .block_area:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
}
.report_listing {
    background-color: #F1F1F1;
    border: 1px dotted #cccccc;
    margin-bottom: 24px;
}

.report_listing .block_content {
    padding: 0 !important;
}
.report_listing .block_content {
    background-image: url(/img/spareroom/v4/blocks/report-ad-right-tile.png);
    background-repeat: repeat-y;
    background-position: right top;
}
.report_listing h5 {
    padding: 6px 0 0 75px;
    margin-bottom: 0;
}
aside h1, aside h2, aside h3, aside h4, aside h5, .asidecontent h1, .asidecontent h2, .asidecontent h3, .asidecontent h4, .asidecontent h5 {
    color: #5e5e5e;
    font-size: 1.1538em;
    line-height: 1.4667em;
    margin-bottom: 8px;
}
.report_listing .block_content .cols {
    background-image: url(/img/spareroom/v4/blocks/jim.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.report_listing .block_content .cols {
    margin-bottom: 0;
 background: gainsboro;
}
.cols {
    margin-bottom: 1.5em;
    overflow: hidden;
    zoom: 1;
}
.report_listing .block_content .col_first {
    background-image: url(/img/spareroom/v4/blocks/report_ad_icon.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding: 8px 25px 8px 75px;
    width: 275px;
}
.col_first, .col:first-child {
    margin-left: 0 !important;
}
.report_listing .block_content .col_last {
    width: 415px;
    padding: 8px 80px 8px 0;
    margin-left: 15px;
}
.col_last, .col:last-child {
    margin-right: 0 !important;
}
.ppcl_info li, .bulletlist li, .bulletlist dd, #full_profile li, #full_profile dd {
    display: list-item;
    list-style: disc outside;
    margin-left: 1.2em;
}
.detail_page_tab_content_inner aside, .detail_page_tab_content_inner .asidecontent {
    padding: 0 16px 16px 0;
}
.grid-4-8-4>:first-child, .grid-4-8-4>:last-child, .grid-12-4>:last-child, .grid-4-12>:first-child, [class*="grid-"]>.grid-4>*, .grid-4>*, .grid-4.full-width>*, .grid-8-4-4>:nth-child(2), .grid-8-4-4>:last-child {
    -ms-flex: 4 23.49%;
    -webkit-flex: 4 23.49%;
    flex: 4 23.49%;
    max-width: 23.49%;
}

[class*='grid-']>* {
    -ms-flex: 16 100%;
    -webkit-flex: 16 100%;
    flex: 16 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='grid-'] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    word-wrap: break-word;
}
.primary-standard, a.primary-standard, .secondary-standard, a.secondary-standard, a.button-facebook, .button-facebook {
    font-size: 13px;
    font-size: 0.8667rem;
    padding: 10px;
}

.ir.view_on_map_v4 {
    background-image: url(/img/spareroom/v4/other_items/view_on_map.png);
    margin: 11px 0;
}
.ir.view_on_map, .ir.view_on_map_v4 {
    background-image: url(/img/spareroom/v3/other_items/view_on_map.png);
    width: 160px;
    height: 68px;
    cursor: pointer;
}
.grid-4-8-4>:first-child, .grid-4-8-4>:last-child, .grid-12-4>:last-child, .grid-4-12>:first-child, [class*="grid-"]>.grid-4>*, .grid-4>*, .grid-4.full-width>*, .grid-8-4-4>:nth-child(2), .grid-8-4-4>:last-child {
    -ms-flex: 4 23.49%;
    -webkit-flex: 4 23.49%;
    flex: 4 23.49%;
    max-width: 23.49%;
}

.primary-standard, .primary-featured {
    color: #FFF;
    border: 1px solid #FF9600;
    background: #FF9600;
    background: -webkit-gradient(linear,0 0,0 100%,from(#FFDF00),color-stop(0.1,#FF9600),to(#FF9600));
    background: linear-gradient(#FFDF00 2%,#FF9600 7%,#FF9600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDF00',endColorstr='#FF9600',GradientType=0);
}
.button-facebook, .primary-standard, .primary-featured, .secondary-standard, .secondary-featured {
    -webkit-box-shadow: 0 2px 0 0 rgba(153,153,153,0.4);
    box-shadow: 0 2px 0 0 rgba(153,153,153,0.4);
}
.primary-standard, .secondary-standard, .primary-featured, .secondary-featured, .button-link, .button-facebook {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    border-radius: 6px;
    outline: 0;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.ir.view_on_map, .ir.view_on_map_v4 {
    background-image: url(../img/view_on_map.png);
    width: 160px;
    height: 68px;
    cursor: pointer;
}
a:active, a:hover, a:focus {
    text-decoration: underline;
    outline: 0;
}
.ir {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    outline: none;
}
#social_buttons_share a {
    color: #005480;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
#social_buttons, #social_buttons_share {
    text-align: right;
    margin: 0;
}
.block_tabs {
    overflow: hidden;
    clear: both;
    zoom: 1;
}
#social_buttons_share a.twitterButtonShare:before {
    content: "\f099";
    background: #55acee;
    border: solid 1px #55acee;
}
#social_buttons_share a:before {
    font: normal normal normal 1.4em/1 FontAwesome;
    height: 26px;
    width: 26px;
    padding: 0;
    margin-right: 5px;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border: solid 1px #005480;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#listing_header, .ad_details {
    font-size: 0.867em;
    line-height: 1.538;
}

/*my account*/
.main-nav ul ul {
    position: absolute;
    z-index: 1;
    background: #f5f5f5;
    left: 0;
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
    padding: 0 21px;
    bottom: 0;
    box-sizing: border-box;
}
.main-nav ul, .main-nav ul li, .main-nav ul a {
    display: inline-block;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    display: inline-block;
    padding: 4px;
}
.main-nav ul ul li:first-child a {
    padding: 12px 10px 12px 15px;
}
.main-nav ul ul a {
    color: #3480DB;
    font-size: 13px;
    font-size: 0.8667rem;
    line-height: 1.2307;
    padding: 12px 10px;
}
.main-nav>ul a {
    color: #fff;
    font-size: 14px;
    font-size: 0.9333rem;
    line-height: 1.1428;
    color: #fff;
    text-decoration: none;
}

/*#spareroom.wrap, footer.wrap {
    width: 894px;
}*/
.grid-4-8-4>:first-child, .grid-4-8-4>:last-child, .grid-12-4>:last-child, .grid-4-12>:first-child, [class*="grid-"]>.grid-4>*, .grid-4>*, .grid-4.full-width>*, .grid-8-4-4>:nth-child(2), .grid-8-4-4>:last-child {
    -ms-flex: 4 23.49%;
    -webkit-flex: 4 23.49%;
    flex: 4 23.49%;
    max-width: 28.49%;
}
.grid-8>*, .grid-4-8-4>:nth-child(2), .grid-8-4-4>:first-child {
    -ms-flex: 8 48.99%;
    -webkit-flex: 8 48.99%;
    flex: 8 48.99%;
    max-width: 65.99%;
}
.grid-4-8-4>:nth-child(2), .grid-4-12>:last-child {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
[class*="grid-"]>:not(:last-child), [class*="grid-"].columns>:not(:last-child) {
    margin-right: 18px;
}
.grid-4-8-4 .grid-4>* {
    max-width: 47.9%;
}
.block {
    display: block;
    margin-bottom: 24px;
}
aside, .asidecontent {
    font-size: 0.867em;
    line-height: 1.538;
}
.block_standard .block_header {
    background-color: #8e8e84;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c5c5c5),to(#8e8e84));
    background-image: -webkit-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -moz-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -ms-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: -o-linear-gradient(top,#c5c5c5,#8e8e84);
    background-image: linear-gradient(top,#c5c5c5,#8e8e84);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5c5c5',EndColorStr='#8e8e84');
}


.block_header h3 {
    margin: 0;
    color: #fff;
    line-height: inherit;
    font-size: inherit;
}
.block_standard .block_header + .block_content {
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.block_standard .block_content {
    background-color: #f5f5f5;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
aside h1, aside h2, aside h3, aside h4, aside h5, .asidecontent h1, .asidecontent h2, .asidecontent h3, .asidecontent h4, .asidecontent h5 {
    color: #5e5e5e;
    font-size: 1.1538em;
    line-height: 1.4667em;
    /*margin-bottom: 8px;*/
}
big {
    font-size: larger;
}
#live_rent_free {
    background-image: url(/img/spareroom/v3/competition/live_rent_free.png);
    height: 105px;
    margin-bottom: 15px;
    outline: none;
}
.ir {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    outline: none;
}
.grid-4-8-4 .grid-4>* {
    max-width: 47.9%;
}

.PAGEmyaccount .block.upgrade_status h5, .PAGEmyaccount .block.upgrade_status strong {
    color: #003D5D;
}
.block.upgrade_status_normal ol.benefits li {
    position: relative;
    margin-bottom: 15px;
}
.PAGEmyaccount .block.upgrade_status h5, .PAGEmyaccount .block.upgrade_status strong {
    color: #003D5D;
}
.block.upgrade_status_normal img {
    position: absolute;
    top: -20px;
    right: 0;
}
.PAGEmyaccount .upgrade_now_links {
    margin-bottom: 0;
}
a.button-facebook:active, a[class*="secondary"]:active, a[class*="primary"]:visited, a.button-facebook:visited, a[class*="secondary"]:focus, a[class*="primary"]:focus, a[class*="primary"]:link, a.button-facebook:focus, a.button-func:visited {
    color: #FFF;
    text-decoration: none;
}
.primary-standard, a.primary-standard, .secondary-standard, a.secondary-standard, a.button-facebook, .button-facebook {
    font-size: 13px;
    font-size: 0.8667rem;
    padding: 10px;
}
.block.love_the_site {
    position: relative;
    overflow: hidden;
    zoom: 1;
}
.grid-4-12>:first-child, .grid-4-8-4>:first-child {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
[class*="grid-"]>:not(:last-child), [class*="grid-"].columns>:not(:last-child) {
    margin-right: 18px;
}

.block_prominent {
    background: #ebfafd;
    border: 1px solid #9cebfc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.block_content {
    padding: 20px;
    line-height: 1.538;
    font-size: 12px;

    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
p, ul {
    margin: 0 0 16px 0;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ul, ol {
    padding: 0;
}
.block.upgrade_status_normal ol.benefits li {
    position: relative;
    margin-bottom: 15px;
}
ol li {
    list-style: decimal inside;
}
.block.upgrade_status_normal img {
    position: absolute;
    top: -20px;
    right: 0;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5 {
    color: #003d5d;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 700;
}
big {
    font-size: larger;
}
#live_rent_free {
    background-image: url(/img/spareroom/v3/competition/live_rent_free.png);
    height: 105px;
    margin-bottom: 15px;
    outline: none;
}
.ir {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    outline: none;
}


/*confimation part*/
/*#spareroom.wrap {
    display: block;
    margin: 0 auto;
    padding: 0 36px 24px;
    background-color: #fff;
    position: relative;
    overflow: auto;
    border-radius: 0;
}*/
.grid-12-4>:first-child, .grid-4-12>:last-child {
    width: 74.49%;
}
.PAGEmyaccount h1, .PAGEplacelisting h1 {
    border-bottom: none;
}
.msg.success {
    border-color: #cce6b3;
    background-color: #ecfce1;
    background-image: url(/img/spareroom/v4/icons/msg_success.png);
}
.msg {
    color: #444;
    font-size: 13px;
    
    line-height: 1.538;
    background-repeat: no-repeat;
    background-position: 10px 20px;
    margin: 5px 0 10px 0;
    padding: 16px 16px 16px 34px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    cursor: default;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*.grid-8>*, .grid-4-8-4>:nth-child(2), .grid-8-4-4>:first-child {
    -ms-flex: 8 48.99%;
    -webkit-flex: 8 48.99%;
    flex: 8 48.99%;
    /*max-width: 47.99%;*/
}*/
/*edit ad*/
 
 .block_simple_tabbed .block_tabs {
    padding-left: 24px;
    position: relative;
    bottom: -1px;
}
#subnav_fad_profile #tab_account, #subnav_fad_individual_settings #tab_bids, #subnav_fad_payments #tab_payments, #subnav_fad_stats #tab_stats, #subnav_fad_ranking #tab_ranking, #subnav_fad_faq #tab_faq, #SUBPAGEwanted .tab_mng_edit, #SUBPAGEmylistings .tab_mng_edit, #SUBPAGEmylistingsedit .tab_mng_edit, #SUBPAGEmysearches .tab_mng_edit, #SUBPAGEmylistingsphotos .tab_mng_photos, #SUBPAGEmylistingsvideos .tab_mng_video, #SUBPAGEmylistingsdelete .tab_mng_delete, #SUBPAGEmylistingsstats .tab_mng_stats, #SUBPAGEmylistingsrenew .tab_mng_renew {
    color: #222;
    border-bottom: 1px solid #fff;
}

.block_simple {
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
blockquote, td, th, marquee, form, .thumbgallerystyle dt, .thumbgallerystyle dd {
    margin: 0 0 1.4545em 0;
}
script {
    display: none;
}
select, input, .anchorTag {
    font-size: .9166em;
}
.js #upload-target {
    display: block;
}
#upload-target {
    border: 2px dashed #d5d5d5;
}
.upload-target {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #f5f5f5;
    margin: 0 0 16px 0;
    -webkit-animation: fadein 0.5s once;
    -moz-animation: fadein 0.5s once;
    -o-animation: fadein 0.5s once;
    animation: fadein 0.5s once;
}
.upload-container.noPhoto .icon {
    font-size: 6.4em;
    margin-bottom: 24px;
}
.upload-container.noPhoto .icon {
    font-size: 6.4em;
    margin-bottom: 24px;
}
.fa-photo:before, .fa-image:before, .fa-picture-o:before {
    content: "\f03e";
}
.upload-container {
    text-align: center;
    padding: 16px 16px 8px 16px;
}
.secondary-standard, .secondary-featured {
    color: #5E5E5E;
    border: 1px solid #E8E8E8;
    background: #E8E8E8;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#f5f5f5),color-stop(0.7,#E8E8E8),color-stop(100%,#E8E8E8));
    background: linear-gradient(to bottom,#f5f5f5 2%,#E8E8E8 9%,#E8E8E8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#E8E8E8',GradientType=0);
}
input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
.upload-list {
    border-top: solid 1px #e8e8e8;
    margin: 0 16px;
}
.disabled:active, .disabled:hover, .disabled:focus, .disabled, .primary-standard[disabled], .secondary-standard[disabled], .primary-featured[disabled], .secondary-featured[disabled], .disabled.primary-standard, .disabled.secondary-standard, .disabled.secondary-featured, .disabled.primary-featured {
    cursor: not-allowed;
    border-color: #D5D5D5;
    color: #999;
    box-shadow: none;
    text-decoration: none;
    background: #F5F5F5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#F5F5F5',GradientType=0);
}
.uploadfiles {
    display: block;
    margin: 24px auto 24px auto;
}
.button-link, a.button-link, .primary-featured, a.primary-featured, .secondary-featured, a.secondary-featured {
    font-size: 16px;
    font-size: 1.0667rem;
    padding: 14px;
}
.block_manage_listing .block_tab {
    margin-right: 4px !important;
}
#subnav_fad_profile #tab_account, #subnav_fad_individual_settings #tab_bids, #subnav_fad_payments #tab_payments, #subnav_fad_stats #tab_stats, #subnav_fad_ranking #tab_ranking, #subnav_fad_faq #tab_faq, #SUBPAGEwanted .tab_mng_edit, #SUBPAGEmylistings .tab_mng_edit, #SUBPAGEmylistingsedit .tab_mng_edit, #SUBPAGEmysearches .tab_mng_edit, #SUBPAGEmylistingsphotos .tab_mng_photos, #SUBPAGEmylistingsvideos .tab_mng_video, #SUBPAGEmylistingsdelete .tab_mng_delete, #SUBPAGEmylistingsstats .tab_mng_stats, #SUBPAGEmylistingsrenew .tab_mng_renew {
    color: #222;
    border-bottom: 1px solid #fff;
}
/*vidio part*/
  

.block:last-child {
    margin-bottom: 16px;
    background: lightblue;
}
.block_simple {
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
blockquote, td, th, marquee, form, .thumbgallerystyle dt, .thumbgallerystyle dd {
    margin: 0 0 1.4545em 0;
}
form {
    display: block;
    margin-top: 0em;
}
fieldset, legend {
    background: none;
    padding: 0;
    margin-top: 7px;
}
fieldset {
    clear: left;
}
legend, caption {
    color: #fff;
    background: #0db0e6;
    text-shadow: 0 -1px -1px rgba(0,0,0,.3);
    width: 96%;
    padding: 0.75% 2%;
    margin: 0 0 5px 0;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*email part*/
.bold_listing .detail_page_tabs .block_tab_active, .bold_listing .detail_page_tab_content, .mode_contact_page .bold_listing .detail_page_tab_content_inner {
    background-color: #ebfafd;
    border-color: #9cebfc;
}
.detail_page_tab_content_inner.block_content {
    padding: 0;
    background: #ebfafd;
    border-color: #9cebfc;
}
.detail_page_tab_content_inner .advert-intro, .detail_page_tab_content_inner .contact-form, .detail_page_tab_content_inner .error-msg, #full_profile>div>:first-child {
    padding: 0 0 16px 16px;
    border-top-left-radius: 8px;
}
#contact_the_advertiser_heading {
    margin: 32px 0 0 0;
    background: url(/img/spareroom/v4/icons/email.png) no-repeat top left;
    min-height: 56px;
    font-size: 21px;
    font-weight: bold;
    padding-left: 100px;
    padding-bottom: 16px;
}
blockquote, td, th, marquee, form, .thumbgallerystyle dt, .thumbgallerystyle dd {
    margin: 0 0 1.4545em 0;
}
select, input, .anchorTag {
    font-size: .9166em;
}
.detail_page_tab_content_inner #contact_advertiser_form {
    margin-bottom: 18px;
}
#contact_advertiser_form .formrow {
    margin: 0 0 5px 0;
}
#contact_advertiser_form .formlabel {
    width: 90px;
    float: left;
}
.formlabel {
    font-weight: bold;
}
::selection {
    background: #0db0e6;
    color: #fff;
    text-shadow: none;
}
/*search part*/
.block_row:last-child {
    border-bottom: 1px solid #ccc;
}
.block_row {
    border-top: 1px solid #ccc;
}
.block_row {
    padding: 10px 0 10px 0;
}
.saved_searches_actions ul, .saved_searches_email_alerts ul, .saved_searches_parameters ul {
    margin-left: 20px;
}
.ppcl_info li, .bulletlist li, .bulletlist dd, #full_profile li, #full_profile dd {
    display: list-item;
    list-style: disc outside;
    margin-left: 1.2em;
}
.saved_searches_place_listing:last-child {
    margin-bottom: 0;
}
.saved_searches_actions ul, .saved_searches_email_alerts ul, .saved_searches_parameters ul {
    margin-left: 20px;
    width: 363px;
}
ul.inline_parameters li.parameter {
    background: #e5e5e5;
    display: inline-block;
    padding: 2px 4px 2px 4px;
    margin: 2px 2px 3px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/** Paging **/
.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}
.paging > span:hover {
    background: #efefef;
}
.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled {
    color: #ddd;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #efefef;
    color: #c73e14;
}

/*blog site*/
.post_info  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px;
}

.post_author {
    float: left;
    padding: 6px;
    background-image: url(../img/admin.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.post_date {
    float: left;
    padding: 6px;
    background-image: url(../img/timer.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;

}
.comments {
    float: left;
    padding: 6px;
    background-image: url(../img/comments.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.read_more {
    float: right; 

}
.read_more a {
    color: white;
    text-align: center;
}
.post_body {
    /*border-bottom: 1px solid blue;
    margin-bottom: 12px;*/
}
.featured_img  {
    margin-top: 8px;
    margin-bottom: inherit;
}
.post_description {
    text-transform: capitalize;
}
.comment-left{
    background: url(../img/blog-user.png)  no-repeat;
    float: left;
    width:32px;
    height: 32px;
    padding-right: 5px;
}
.single_comment{
    margin-bottom: 5px;
}
/*catagory site*/
.search h1 {
    font-family: 'Corbell';
    font-size: 190%;
    color: #003d5d;
    margin: 0px;
    padding-bottom: 10px;
}
.linkcat {
    color: #363636;
    font-family: Corbell;
    font-size: 20px;
    font-weight: 400px;
    text-decoration: none;
}
.linkcatul li {
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
}
.linkcatul li a {
    font-size: 16px !important;

}
.linkcatli {
    width: 100%
}