<div class="container">

<h3 style="text-align: center;">Contact us</h3>
<hr>



<form class="form-horizontal" role="form" method="post" action="<?php $this->webroot;?>users/contact" name="basicform" id="basicform">

      <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;" for="email">Subject:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
      </div>
    </div>


       <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;" for="email">Your Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
      </div>
    </div>


       <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
    </div>


         <div class="form-group">
      <label class="control-label col-sm-2" style="text-align: left;" for="email">Message:</label>
      <div class="col-sm-10">
       <textarea class="form-control" name="message" id="message"></textarea>
      </div>
    </div>


<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Send" name="contact" />
      </div>
    </div>


</form>
</div>


<script type="text/javascript">
  
  jQuery().ready(function() {

    // validate form on keyup and submit
    var v = jQuery("#basicform").validate({
      rules: {

        email: {
          required: true,
          minlength: 5,
          maxlength: 30
        }

      },
      errorElement: "span",
      errorClass: "help-inline-error",
    });

  

  });
</script>




		</div>
	</div>