<?php
/**
 * Created by PhpStorm.
 * User: sany2k8
 * Date: 12/24/15
 * Time: 2:22 PM
 */
 ?>

 <?php #AuthComponent::_setTrace($this->request->data);
// print_r($_GET);
// die;

 ?>


 <div class="container">

 <div class="col-md-3 serach_aside" style="margin-top: 20px;">
     <aside style="width:21%">
         <?php echo $this->element('search_aside'); ?>
     </aside>
 </div>


  <div id="map" style="width: 500px; height: 400px;"></div>




</div>

<style type="text/css">
  #map{
    margin-top: 20px;
  }

</style>

 <script type="text/javascript">
 var loc='<?php echo $_GET["parameter"];?>';
 locations=jQuery.parseJSON(loc);


     var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 12,
       // center: new google.maps.LatLng(-33.92, 151.25),

       //TODO need to fix that for proper map center
       center: new google.maps.LatLng(36.8857, -76.2599),
       mapTypeId: google.maps.MapTypeId.ROADMAP
     });

     var infowindow = new google.maps.InfoWindow();

     var marker, i;
     var image;
     image = '../img/pin.png';
     for (i = 0; i < locations.length; i++) {

     //TODO need to format it proper format
     var contentString = '<div id="content"> <b> Title: </b>'+ locations[i]['title'] +
                         '<div> <b> Rent: </b>'+locations[i]['rent']+'</div>'+
                         '<img width="80" src="../files/add_images/'+ locations[i]['photo_1'] + ' ">'+
                         '<div>'+locations[i]['description']+'</div>'+
                         '</div>';


       marker = new google.maps.Marker({
         position: new google.maps.LatLng(locations[i]['lat'], locations[i]['lng']),
         map: map,
         icon:image
       });

       google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {
           infowindow.setContent(contentString);
           infowindow.open(map, marker);
         }
       })(marker, i));
     }

 </script>

